body {
      background-color: black;
}
#barraluminosa {
               margin-top: 500px;
               background-color: grey;
               opacity: 1;
               height: 2px;
               border-radius: 50%;
               animation: pulse 15s infinite;
               }
@keyframes pulse  {
                0% {background-color: grey; transform: scale(0.25,0.3);}
                30% {background-color: white; transform: scale(1,1);}
                50% {background-color: white; transform: scale(1,1);}
                100% {background-color: grey; transform: scale(0.25,0.3);}
               }
