body {
      background-color: black;
      font-family: 'GeosansLight';
}
#container {
           position: relative;
      <!-- overflow: scroll; -->
           width: 100vw;
           height: 100vh;
}
#barraluminosa {
               position: absolute;
               top: 50%;
               background-color: grey;
               opacity: 1;
               height: 2px;
               width: 100vw;
               border-radius: 50%;
               animation: pulse 15s infinite;
               }
@keyframes pulse  {
                0% {background-color: grey; transform: scale(0.25,0.3);}
                30% {background-color: white; transform: scale(1,1);}
                50% {background-color: white; transform: scale(1,1);}
                100% {background-color: grey; transform: scale(0.25,0.3);}
               }
#main {
      position: absolute;
      top: 50%;
      left: 0%;
      background: linear-gradient(#000000, #696d70);
      width: 100vw;
      height: 100vh;
}
@font-face {
   font-family: 'GeosansLight';
<!-- src: url(font_name.eot); -->
   src: local('GeosansLight'), url('GeosansLight.ttf') format('truetype');
}
#nomecognome {
             position: absolute;
             top: 30%;
             left: 0%;
             width: 100vw;
             text-align: center;
             color: white;
             font-family: "GeosansLight";
             font-size: 50px;
}
#stringasticky {
               position: relative;
               top: 0%;
               width: 100vw;
               height: 100px;
               background-color: #696d70;
}
#portfoliobutton {
                 position: absolute;
                 top: 30%;
                 right: 30%;
                 font-size: 30px;
                 font-weight: bold;
                 color: #000000;
                 border-bottom: 0px solid #000000;
}
#portfoliobutton:hover {
                       border-bottom: 2px solid #000000;
                       cursor: pointer;
                  }
#exercisesbutton {
                 position: absolute;
                 top: 30%;
                 right: 17.5%;
                 font-size: 30px;
                 font-weight: bold;
                 color: #000000;
                 }
#exercisesbutton:hover {
                       border-bottom: 2px solid #000000;
                       cursor: pointer;
                     }
#aboutbutton {
                 position: absolute;
                 top: 30%;
                 right: 7.75%;
                 font-size: 30px;
                 font-weight: bold;
                 color: #000000;
}
#aboutbutton:hover {
                       border-bottom: 2px solid #000000;
                       cursor: pointer;
                     }
