body {
  /*  margin-left: 0;
      margin-top: 0; */
      background-color: black;
      font-family: 'GeosansLight';
      font-size: 12px;
}
#container {
           position: relative;
        /* overflow: scroll; */
           width: 100vw;
           height: 100vh;
}
#barraluminosa {
               position: absolute;
               top: 50%;
               background-color: grey;
               opacity: 1;
               height: 0.16666666666em;
               width: 100vw;
               border-radius: 50%;
               animation: pulse 15s infinite;
               }
@keyframes pulse  {
                0% {background-color: grey; transform: scale(0.25,0.3);}
                30% {background-color: white; transform: scale(1,1);}
                50% {background-color: white; transform: scale(1,1);}
                100% {background-color: grey; transform: scale(0.25,0.3);}
               }
#main {
      position: absolute;
      top: 50%;
      left: 0%;
      background: linear-gradient(#000000, #696d70);
      width: 100vw;
      height: 100vh;
}
@font-face {
   font-family: 'GeosansLight';
/* src: url(font_name.eot); */
   src: local('GeosansLight'), url('GeosansLight.ttf') format('truetype');
}
#nomecognome {
             position: absolute;
             top: 30%;
             left: 0%;
             width: 100vw;
             text-align: center;
             color: white;
             font-family: "GeosansLight";
             font-size: 4.16666666667em; /* 50px/12px = 4.16666666667em */
          /* text-decoration: blink; */
}
#stringasticky {
               position: sticky;
               top: 0%;
               width: 100vw;
               height: 8.33333333333em; /* 100px */
               background-color: #696d70;
}
a:hover {
        cursor: pointer;
      }
#portfoliobutton {
                 position: absolute;
                 top: 30%;
                 right: 30%;
                 font-size: 2.5em;
                 font-weight: bold;
                 color: #000000;
                 border-bottom: 2px solid #000000;
}
/*
#portfoliobutton:hover {
                       border-bottom: 2px solid #000000;
                                         }
*/
#exercisesbutton {
                 position: absolute;
                 top: 30%;
                 right: 17.5%;
                 font-size: 2.5em;
                 font-weight: bold;
                 color: #000000;
                 }
#exercisesbutton:hover {
                       border-bottom: 2px solid #000000;
                       cursor: pointer;
                     }
#aboutbutton {
                 position: absolute;
                 top: 30%;
                 right: 7.75%;
                 font-size: 2.5em;
                 font-weight: bold;
                 color: #000000;
}
#aboutbutton:hover {
                       border-bottom: 2px solid #000000;
                       cursor: pointer;
                     }
.containerimg {
              position: absolute;
              top: 60%;
              left: 0%;
              width: 100vw;
}
#Guerraperilliuto {
                  position: absolute;
                  top: 0%;
                  left: 9%;
                  max-width: 30vw;
}
#Playingcards {
                  position: absolute;
                  top: 0%;
                  left: 4.5%;
                  max-width: 30vw;
}
#Bookcover {
                  position: absolute;
                  top: 0%;
                  left: 0%;
                  max-width: 30vw;
}

/* GUERRA PER IL LIUTO */
#videoLiuto {
            position: absolute;
            top: 0%;
            left: 25%;
          }
/* PLAYING CARDS */
#carousel {
          position: absolute;
          top: 7%;
          left: 25%;
                    }

.d-blockw-100 {
              width: 50vw;
              align: center;
}
.carousel-control-prev-icon {
                            background-color: #000000;
}
.carousel-control-next-icon {
                            background-color: #000000;
}
